body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    cursor: none; 
    background: black;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #FF0000, #FFA500, #FFFF00, #FFFFFF);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
    transform-origin: center;
    transition: transform 0.1s ease;
}
